@use 'sass:color';


@use '@material/theme/color-palette';

// Svelte Colors!
@use '@material/theme/index' as theme with (
  $primary: color-palette.$green-800,
  $secondary: color-palette.$red-800,
  $surface: #fff,
  $background: #fff,
  $error: color-palette.$red-900
);
@use '@material/typography/mdc-typography';

html,
body {
  background-color: theme.$surface;
  color: theme.$on-surface;
}

a {
  color: #40b3ff;
}
a:visited {
  color: color.scale(#40b3ff, $lightness: -35%);
}

.mdc-card {
  margin-top: 20px;
  padding: 6px;
}
button + button {
  margin-left: 16px;
}
